<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Comic Neue' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        * {
           background: #F7E9D0;
           font-family: 'Comic Neue'; 
        }
        #recipeHeader {
            font-weight: bolder;
            text-align: center;
            margin: 1em;
        }
        .inputTitle {
            font-weight: bolder;
        }
        #info {
            margin: auto;
            margin-bottom: 1em;
            float: none; 
        }
        #register {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        #example {
            font-size: 0.9em;
        }
        .skin {
            background: #F0929D;
        }
        .skin:hover {
            color: white;
        }
        .blue {
            background: #34BCE1;
        }
        .blue:hover {
            color: white;
        }
        #login {
            text-align: center;
        }
        #loginHere {
            color: #F0929D;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id=recipeHeader>
            <div class="col">
                <h2 id="welcome">Add Recipe</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="recipe-info">
                    <div class="form-group col-4" id="info">
                        <label class="inputTitle" for="title" id="title">Recipe Title</label>
                        <input class="form-control" id="title" aria-describedby="title" placeholder="Enter recipe title here" name="title">
                    </div>
                    <div class="form-group col-4" id="info">
                        <label class="inputTitle" for="recipeDescription" id="recipeDescription">Description</label>
                        <input class="form-control" id="recipeDescription" placeholder="Enter description here" name="recipeDescription">
                    </div>
                    <div class="form-group col-4" id="info">
                        <label class="inputTitle" for="ingredients" id="ingredients">Ingredients</label>
                        <input class="form-control" id="ingredients" placeholder="Enter ingredients here" name="ingredients">
                        <p id="example">Ex. Milk, bread, eggs, flour</p>
                    </div>
                    <div class="form-group col-4" id="info">
                        <label class="inputTitle" for="steps" id="steps">Steps</label>
                        <input class="form-control" id="steps" aria-describedby="steps" placeholder="Enter steps here" name="steps">
                        <p id="example">Ex. Cut the carrot, Brown the onions, Add salt and pepper</p>
                    </div>
                    <div class="form-group col-4" id="info">
                        <label class="inputTitle" for="categories" id="categories">Categories</label>
                        <input class="form-control" id="categories" placeholder="Enter categories here" name="categories">
                        <p id="example">Ex. Vegan, Vegtarian, Halal</p>
                    </div>
                    <div id="register">
                        <input type="button" class="btn skin" onclick="addRecipe()" value="Add Recipe"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function addRecipe() {
            let inputs = document.getElementById("recipe-info").elements;
            let title = inputs['title'].value;
            let description = inputs['recipeDescription'.value];
            let ingredients = inputs['ingredients'].value.split(',');
            let steps = inputs['steps'].value.split(',');
            let categories = inputs['categories'].value.split(',');
            
            axios.post('/recipes/new',{
                title: title,
                description: description,
                ingredients: ingredients,
                steps: steps,
                categories: categories
            })
                .then(resp => {
                    console.log(resp);
                })
                .catch(err => {
                    console.log(err);
                })
        }
    </script>
</body>
</html>