<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>No-Scraps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Comic Neue' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        * {
           background: #F7E9D0;
           font-family: 'Comic Neue'; 
        }
        #welcomeHeader {
            text-align: center;
            margin: 1em;
        }
        #welcome {
            font-weight: bold;
        }
        #loginHeader {
            text-align: center;
        }
        #loginText {
            text-align: center;
        }
        #emailLabel {
            font-weight: bold;
        }
        #passwordLabel {
            font-weight: bold;
        }
        #credentials {
            margin: auto;
            float: none; 
        }
        #login {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .skin {
            background: #F0929D;
        }
        .skin:hover {
            color: white;
        }
        .blue {
            background: #34BCE1;
        }
        .blue:hover {
            color: white;
        }
        #register {
            text-align: center;
        }
        #registerNew {
            color: #F0929D;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="welcomeHeader">
            <div class="col">
                <h1 id="welcome">Welcome to No-Scraps!</h1>
            </div>
        </div>
        <div class="row" id=loginHeader>
            <div class="col">
                <h2 id="welcome">Login</h2>
            </div>
        </div>
        <div class="row" id=loginText>
            <div class="col">
                <h6>What are you waiting for? Amazing recipes await!</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="login-info">
                    <div class="form-group col-4" id="credentials">
                        <label for="email" id="emailLabel">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group col-4" id="credentials">
                        <label for="password" id="passwordLabel">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <div id="login">
                        <input type="button" class="btn blue" onclick="getRecipes()" value="Continue as Guest"/>
                        <input type="button" class="btn skin" onclick="login()" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col" id="register">
                <p>Don't have an account? <a id="registerNew" href="/register">Register here!</a></p>
            </div>
        </div>
    </div>
    <script>
        function getRecipes() {
            window.location.replace('/recipe_list');
        }
        function login() {
            let inputs = document.getElementById("login-info").elements;
            let email = inputs["email"].value;
            let password = inputs["password"].value;
            axios.post('/users/login', {
                email: email,
                password: password
            })
                .then(resp => {
                    console.log(resp);
                    window.location.replace('/recipe_list'); //NEED TO SOMEHOW PASS THE EMAIL
                    // why do we need to pass the email if we passed it in above??
                })
                .catch(err => {
                    console.log(err);
                })
        }
    </script>
</body>
</html>