<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <h1>Recipe List</h1>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <div class = "row"> 
    <h1> found email : </h1> </div>
  </div>
  <body>
    
    <div id="wrapper"></div>
    <div id="wrapper2"></div>

       
    
    <script>  
      let codeBlock = '<div class="card" style="width: 40rem;">' +
                        ' <div class="card-body">' +
                        '<h5 class="card-title">Recipe title</h5>' +
                        '<h6 class="card-subtitle mb-2 text-muted"> subtitle</h6>' +
                        ' <p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards content.</p>' +
                        '<a href="#" class="card-link"> View Recipe</a>' +
                        '</div>'+
                        '</div>';
                        let test = document.getElementById("wrapper").innerHTML = codeBlock;
                        function looperRecipe(holder){
                            console.log("reached")
                           for(let i = 0 ; i < 3 ; i ++){
                            console.log("reached for loop")
                            test;
                            // document.getElementById("wrapper").innerHTML = holder
                                            }
                                            } 
          //  console.log(codeBlock)                               
        let loopFun = looperRecipe(codeBlock);

        let x = "",i;
        for(let j = 0; j <4 ; j++){
          x += codeBlock + "<br>";
        }
document.getElementById("wrapper").innerHTML = x;
// document.getElementById("wrapper2").innerHTML = codeBlock;
console.log(looperRecipe(codeBlock));
</script>
   
   
    
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  

</body>
  
</html>


